.contact-page{
  .find-us{
    .box{ padding: 25px; }

    .map { height: 215px; }

    .list {
      padding: 60px 75px 100px 55px;
      overflow-y: initial;
      height: initial;
      li {
        & + li {
          margin-top: 50px;
        }
      }
    }

    .form-part .list li{
      padding-left : 0;
    }
  }



  @include desktops{
    .find-us {
      .list {
        padding: 40px 25px 50px 10px;
      }
    }
  }//desktops


  @include phone{
    .find-us {
      .list {
        padding: 30px 0px 20px 0px;
      }
    }
  }//phone


}



.address-part{

}

.form-part{
  .mybtn, a.btn {
    font-size: 22px;
    margin-top: 5px;
    padding: 6px 40px;
  }

  .marker{
    left: 0 !important;
  }
  .name {
    padding-left: 45px;
  }

}

.contact-form{
  margin-top: 20px;
}


.form-alert {
  margin-top: 10px;
  p{
    background: #feefef;
    padding: 4px 12px 2px;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0px 2px #e9a7a5;
    &.ok{
      background: #f7ffeb;
      box-shadow: 0px 2px #8BC34A;
    }
  }
}
