//$black : #000;
//$black-hover : #1c1c1c;
//
//
//$white-hover : #d1d0d0;
//
//
//$gray-light : #f1f1f1;
//$gray-dark : #e5e5e5;
//
//$gray-select : #e5e5e5;
//
//
//$blue : #335AFF;
//$blue-light : #006EFF;
//$blue-hover : #102686;


//$font-cur : 'Rancho', cursive;
//$font-cur : 'Lato', sans-serif;
//$font : 'Roboto', sans-serif;
//$font : 'Lato', sans-serif;



$red : #D7261C;
$red-dark : #a51911;

//font-family: 'Caveat', cursive;
//font-family: 'Rancho', cursive;
//font-family: 'Amatic SC', cursive;


$font-cur :'Roboto', sans-serif;


//FONTS

.bodoni-bold {
  font-family: 'BodoniFLF';
  font-weight: bold;
  font-style: normal;
}

.bodoni-italic {
  font-family: 'BodoniFLF';
  font-weight: 500;
  font-style: italic;
}
.bodoni-roman {
  font-family: 'BodoniFLF';
  font-weight: 500;
  font-style: normal;
}
.bodoni-bold-italic {
  font-family: 'BodoniFLF';
  font-weight: bold;
  font-style: italic;
}




.clanot-medium{
  font-family: 'ClanOT' !important;
  font-weight: 500;
  font-style: normal;
}
.clanot-bold {
  font-family: 'ClanOT' !important;
  font-weight: bold;
  font-style: normal;
}
.clanot-newsitalic {
  font-family: 'ClanOT-NewsItalic' !important;
  font-weight: normal;
  font-style: italic;
}
.clanot-news {
  font-family: 'ClanOT-News' !important;
  font-weight: normal;
  font-style: normal;
}
.clanot-mediumitalic {
  font-family: 'ClanOT-MediumItalic';
  font-weight: 500;
  font-style: italic;
}

.clanot-book {
  font-family: 'ClanOT-Book';
  font-weight: normal;
  font-style: normal;
}
//FONTS END