@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Bold.woff2') format('woff2'),
        url('BodoniFLF-Bold.woff') format('woff'),
        url('BodoniFLF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Italic.woff2') format('woff2'),
        url('BodoniFLF-Italic.woff') format('woff'),
        url('BodoniFLF-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-Roman.woff2') format('woff2'),
        url('BodoniFLF-Roman.woff') format('woff'),
        url('BodoniFLF-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('BodoniFLF-BoldItalic.woff2') format('woff2'),
        url('BodoniFLF-BoldItalic.woff') format('woff'),
        url('BodoniFLF-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

